
.frame {
    margin: auto;
    margin-top: 10px;
    max-width: 900px;
}

@media only screen and (max-width: 1100px){
    .frame{
        max-width: 82vw;
    }
    .list-container{
        max-width: 82vw;
    }
}

.card-1 {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* flex-wrap: wrap; */
}

.card-img{
    display: block;
    min-width: 150px;
    max-width: 231px;
}

@media only screen and (max-width: 700px){
    .col-1 {
        align-items: center;
    }
    .card-1 {
        flex-direction: column;
    }
    .card-img {
        margin-left: auto;
        margin-right:auto;
        width: 100%;
    }
}

.col-1{
    border: 1px dashed grey;
    align-self: auto;
    flex-grow: 0;
}

.col-2 {
    padding: 8px;
    border: 1px dashed red;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1
}

.card-body{
    border: 1px dashed grey;
    font-family: 'leksa-sans', sans-serif;
    font-size: 14pt;
    font-weight: 500;
}

h3 {

}

h5.card-title{
    font-size: 1.5rem;
    font-family: 'leksa-sans', sans-serif;
    border: 1px dashed grey;
    margin: 0px;
}

/* List Area */
.list-container {
    font-family: 'leksa-sans', sans-serif;
    font-weight: 600;
    margin: auto;
    margin-top: 10px;
    /* max-width: 900px; */
    width: 80%;
}

.list-flexbox {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    
    display: grid;
        grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}

.list-entry {
    /* flex-grow: 1; */
    /* width: max-content; */
    font-size : medium;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    text-decoration: none;
    background-color: white;
    z-index: 1;
    margin: 0.5em;
    /* flex: 1 1 120px; */
}

.list-link{
    text-decoration: none;
    z-index: 2;
}


.background {
    position: fixed;
    z-index: -1;
    inset: 0;
    height: 100%;
    background-image: url("../../../../public/images/paper.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: repeat;
}


.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    /* z-index: 999; */
}