
/* html {
    scroll-padding-top: 4rem;
} */

nav.toc a {
    color: var(--color-main-darker);
    text-decoration: none;
}

h2, h3 {
    scroll-margin-top: 4rem;
}


div.toc-entry-wrapper{
    display: flex;
    flex-direction: row;
}

li.nonactive div .toc-entry-wrapper-sub .bullet {
    list-style-type: disc;
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0E6FFF;
    /* background-color: #0E6FFF; */
    margin: 8px;
    color: #0E6FFF;
    font-size: 16pt;
}


li.active .bullet {
    list-style-type: circle;
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid;
    margin: 8px;
    font-size: 16pt;
}


li ul li .active .bullet{
    list-style-type: circle;
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid;
    margin: 8px;
    font-size: 16pt;
}


li.active > a{
    color: #0E6FFF;

}

li.nonactive {
    list-style-type: none;
}

li.active {
    list-style-type: none;
}

li.nonactive::marker {
    list-style-type: circle;
    width: 12px;
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid;
    margin: 12px;
    font-size: 12pt;

}


li.active::marker {
    
    list-style-type: disc;
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0E6FFF;
    /* background-color: #0E6FFF; */
    margin: 8px;
    color: #0E6FFF;
    font-size: 16pt;
}

li.nonactive {
    color: var(--color-main-darker)

}

li > a:hover {
    color: #0E6FFF;
}


div.toc-bullet-filled {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0E6FFF;
    background-color: #0E6FFF;
    margin: 8px;
}

div.toc-bullet-empty {
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid;
    margin: 8px;
}

nav.toc {
    width: 220px;
    min-width: 220px;
    padding: 16px;
    margin: 8px;
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 48px;
    max-height: calc(100vh - 70px);
    overflow: auto;
    /* overflow: auto; */
  }

  @media screen and (max-width: 900px) {
    nav.toc {
      display: none;
    }
  }
  