
/* html {
    scroll-padding-top: 4rem;
} */

nav.toc a {
    color: var(--color-main-darker);
    text-decoration: none;
}

h2, h3 {
    scroll-margin-top: 4rem;
}

li.active > a{
    color: #0E6FFF;

}

li.nonactive {
    color: var(--color-main-darker)

}

li > a:hover {
    color: #0E6FFF;
}

nav.toc {
    width: 220px;
    min-width: 220px;
    padding: 16px;
    margin: 8px;
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 48px;
    max-height: calc(100vh - 70px);
    overflow: auto;
    /* overflow: auto; */
  }

  @media screen and (max-width: 900px) {
    nav.toc {
      display: none;
    }
  }
  