:root {
    --color-main-darker: #1250A2;
  }
  
  .home {
    background-color: #F3F4F6;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
  }

  .add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24pt;
    margin-bottom: 12pt;
  }
  
  /* Blue and black horizontal lines */
  .hr1 {
    color: black;
    background-color: black;
    height: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    clear: both;
  }
  .hr2 {
    color: #4169e1;
    background-color: var(--color-main-darker);
    border: none;
    height: 8px;
    margin-top: 0px;
  }
  
  .summary {
    padding: 2rem;
    /* position: relative; */
    padding-bottom: 6rem;
  }
  
  .summary_banner_container {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  
  .summary_banner {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 2em;
    padding-left: 2em;
  }
  
  .summary_img_container {
    flex: 1;
    align-self: center;
  }
  
  .summary_img {
    /* align-self: center; */
    display: block;
    margin: auto;
    width: 200px;
  }
  
  .summary_text {
    flex: 2;
    /* Description */
    /* padding-left: 2em;
    padding-right: 2em; */
    height: auto;
  }
  
  .summary_par {
    font-family: "Palatino Linotype";
  
    font-family: Palatino Linotype;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* font-size: calc(0.66vw + 0.66vh); */
    text-align: justify;
    text-indent: 40px;
  }
  
  @font-face {
    font-family: "frizquadrata_ltbold";
    src: url("./friz_quadrata_lt_bold-webfont.woff2")
        format("woff2"),
      url("./friz_quadrata_lt_bold-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNeue";
    src: url("./HelveticaNeue-Medium.otf");
  }

  @font-face {
    font-family: "Helvetica CE 55 Roman";
    src: url("./Helvetica\ Neue\ CE\ 55\ Roman.ttf")
  }

  @font-face {
    font-family: "Leksa Sans";
    src: url("./LeksaSans.otf")
  }

  @font-face {
    font-family: "Leksa Sans Bold";
    src: url("./LeksaSans-Bold.otf")
  }

  @font-face {
    font-family: "Leksa Sans DemiBold";
    src: url("./LeksaSans-DemiBold.otf")
  }
  
  /* Mobile view  */
  
  @media screen and (max-width: 960px) {
    .summary_img_container {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    .summary_par {
      font-size: 16px;
    }
  }
  