/* variables */
:root {
    --arrow-head-height: 8px;
    --arrow-thickness: 4px;
    --card-width: 275px;
    --img-height: 350px;
    --card-header-height: 64px;
  }
  
  .book-card {
    height: auto;
    max-width: var(--card-width);
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.6));
  
    --arrow-head-height: 8px;
    --arrow-thickness: 4px;
    --card-width: 275px;
    --img-height: 350px;
    --card-header-height: 64px;
  
    --card-padding: 8pt;
  
    margin-left: var(--card-padding);
    margin-right: var(--card-padding);
    margin-top: var(--card-padding);
    margin-bottom: var(--card-padding);
  }

/* Image Link */
.book-link {
  
};



  /* card footer */
  .group-1-2 {
    max-width: --card-width;
  }
  .book-card-footer-rectangle {
    border-radius: 0px 0px 12px 12px;
    height: auto;
    /* max-width: 315px; */
    background-color: #f2f2f2;
  }
  .book-card-description-text {
    text-align: right;
    vertical-align: top;
    font-size: 12px;
    /* font-family: Palatino Linotype; */
    color: #000000;
    padding: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .book_img-2 {
    height: var(--img-height);
    width: var(--card-width);
    /* object-fit: cover; */
    transition: transform 100ms;
    vertical-align: bottom;
  }


  .book-card-header-rectangle {
    border-radius: 12px 12px 0px 0px;
    height: var(--card-header-height);
    background-color: #2b4285;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book-card-header {
    /* position: relative; */
    /* font-family: FrizQuadrata; */
    font-family: 'Leksa Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding-left: 6pt;
    padding-right: 6pt;
    color: #ffffff;
  }
  
  /* Arrow stuff */
  
  .book_arrow {
    position: absolute;
    top: calc(var(--card-header-height) - var(--arrow-head-height));
    /* top: calc(-var(--arrow-head-height) / 2); */
    width: var(--card-width);
    z-index: 2;
  }
  
  .book_line {
    position: absolute;
    margin-top: calc(var(--arrow-head-height) - calc(var(--arrow-thickness) / 2));
    width: inherit;
    background: var(--color-main-darker);
    height: var(--arrow-thickness);
    float: none;
  }
  
  .book_point-left {
    width: 0;
    height: 0;
    border-top: var(--arrow-head-height) solid transparent;
    border-bottom: var(--arrow-head-height) solid transparent;
    border-left: calc(var(--arrow-head-height) * 2) solid var(--color-main-darker);
    float: left;
  }
  
  .book_point-right {
    width: 0;
    height: 0;
    border-top: var(--arrow-head-height) solid transparent;
    border-bottom: var(--arrow-head-height) solid transparent;
    border-right: calc(var(--arrow-head-height) * 2) solid
      var(--color-main-darker);
    float: right;
  }
  

  .hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
  }
  .hover01 figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  /* Shine thing. Too much */
figure {
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background: #fff;
	overflow: hidden;
}

  .hover14 figure {
    position: relative;
  }
  .hover14 figure::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 3;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .hover14 figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }

    